# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env

# Prisma
/prisma/migrations/

# Local Uploads
uploads/
uploads/pdfs/
uploads/images/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# TypeScript
tsconfig.tsbuildinfo
